<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
id="br.com.rafaelherbst.biohazardapp"
version="1.0.0">

<name>
Biohazard VW Grupo
</name>

<description>
App de um grupo de carros antigos
</description>

<author href="http://google.com" email="rafael7152@gmail.com">
Rafael Herbst
</author>

<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<preference name="permissions" value="none" />

<preference name="phonegap-version" value="cli-6.3.0" />

<icon src="img/icone.png" />

<gap:platform name="android" />


</widget>
